<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Verification</title>
</head>
<body>
  <center>
    <div class="container" >
      <div class="row" style="margin-top:30vh;">
        <div class="col-md-10 col-sm-10 col-xm-12 m-auto p-4"style="display: inline-block;border: 3px;border-color: black; border-width: 3px;width: 500px;height: 300px;border-style: solid;">
          <div class="card text-center">
            <div class="card-header" >
              <h2>Email verification</h2>
            </div>
            <hr style="border-top: 2px;border-color: black;border-style: solid;">
            <br>
            <div class="card-body">
              <h4 class="card-text">Email verified successfully</h4>
              <p class="card-text">Hello{{username}},you can now login into your account,Enjoy the discounts!</p>
              <span class="badge badge-primary p-3" style="display: inline-block;background-color:white;color: black;height: 35px;width: 150px;display: flex;justify-content: center;align-items: center;border-style: solid;border-color: black;border-width: 1px;">E-commerce Platform</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</body>
</html>